/*enserar los selectores*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}

ul{
	list-style-type: none;
}



body{
	background: #f3f3f3;
	font-family: sans-serif;
}
.headerContainer, main, .boxCentrado{
	background: #fff;
	color: #333;
	width: 90%;
	margin: 0 auto;

}

.cabeceraPrincipal{
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
}
.cabeceraPrincipal img{
	height: auto;
	width: 400px;
	
	padding-top: 10%;

	
}


.menuPrincipal{
	background-color: #fff;
	text-align: center;
	padding: 15px 25px;
	align-items: center;
}
.menuPrincipal a{
	text-decoration: none;
	padding: 35px;
	color: #EC6602;
	text-transform: uppercase;
	font-weight: 100;
}
.menuPrincipal a:hover{
	font-weight: bold;
	transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}




.variantes-redes{
	display: inline;
}

.variantes {
	padding-left: 30px;
	padding-top: 15px;
	float:left;
}
.variantes li {
	text-align: center;
	padding-bottom: 15px;
	height: 30px;
	width: 100px;
	line-height:15px;
	display: inline-block;

}

.variantes li h3{
	color: white;
}
.variantes li img{
	height: 40px;
}

.variantes li .etiqueta{
	
	position: absolute;
	top: 65px;
	padding: 15px;
	background-color: #494848;
	box-sizing:border-box;
	border-radius: 4px;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
	
}


.variantes li:hover .etiqueta{
	visibility: visible;
	opacity: 1;
	
}

.redes{
	padding:15px;
	float: right;

}

.redes li{
	text-align: center;
	height: 30px;
	width: 50px;
	line-height:15px;
	display: inline-block;
}

.redes li img{
	height: 20px;
	position: absolute;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	
  }

.redes li img.facebook:hover{
	opacity:0;
	cursor: pointer;
}

.redes li img.instagram:hover{
	opacity:0;
	cursor: pointer;
}

.redes li img.whatsap:hover{
	opacity:0;
	cursor: pointer;
}

.redes li img.tiktok:hover{
	opacity:0;
	cursor: pointer;
}

.redes li img.youtube:hover{
	opacity:0;
	cursor: pointer;
}

.sliderPrincipal img{

	width: 100%;
}
.h2Home{
	text-align: Left;
	padding: 1em 3em;
	color: #404040;
	font-size: 40px;
	background-color: #fff;
	font-family: arial,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.menu{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.menuPlato{
	height: 70vh;
	border-radius: .5rem;
	width: 30%;
	display: flex;
	flex-direction: column;
	margin: 1em 1em;
	background: #EDEDED;
	border: 1px solid #BBB6B6;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	

}
.notimg{
	height: 100%;
	overflow: hidden;
}

.notimg img{
	width: 100%;
}
.menuPlato h3{
	color: #DB6900;
	text-align: center;
	padding: 1em 0;
}
.menuPlato p{
	padding: 0.2em 1em;
	font-size: 13px;
	color: #494848;
	display: flex;
	text-align: center;

}
.menuPlato button{
	width: 10em;
	height: 2em;
	background-color: #DB6900;
	color: #fff;
	margin-bottom: 0.5em;
	border-radius: .5rem;
	margin-left:2em;
}

.products{
	display: flex;
	flex-wrap: wrap;
	width: 100%;

}

.box-container{
	height: 40vh;
	border-radius: .5rem;
	width: 30%;
	display: flex;
	flex-direction: column;
	margin: 1em 1em;
	
}

.box-container form {
	height: 100%;
}



.products .box-container .box{
	height: 100%;
	text-align: center;
    background: white;
	border-radius: .5rem;
    display: flex;
	flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.plato_img{
	border-radius: .5rem;
	height: 75%;
	overflow: hidden;
}

.plato_img img{
	width: 100%;
	
}

.products .box-container .box h3{

	font-size: 1.5rem;
	color:#494848;
}

.products .box-container .box .price{
	font-size: 1.5rem;
   color:var(--black);
}


.tablecud {
	width: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
}
th, td {
   width: 25%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
   border-collapse: collapse;
   padding: 0.3em;
   caption-side: bottom;
}
tr:hover{
	background: #ccc;
	color: #000;
}
 input, select {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #DB6900;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

form .btn-submit:hover {
	background: #DB6900;
}

.piePagina{
	background-color: #1D1D1D;
	color: #C1D0D4;
}
.piePagina h6{
	text-align: center;
	padding: 2em 0;
}

.con404{
	align-content: center;
}





@media only screen and (max-width: 800px) {
  body {
    background-color: white;
  }
}

@media only screen and (max-width: 600px) {
	.menuPlato{
		width: 90%;
		display: block;
		margin: 0 auto;
		margin-bottom: 10px;
	}

}